<section class="booking">
  <div class="row">
    <div class="col-md-8">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>CHỌN VÉ / COMBO</ng-template>
            <div class="seatTitle">
              <div class="seatLeft">
                <div class="seatLogo">
                  <img src="assets/img/icon/cinestar.png" class="img-fluid" alt="">
                </div>
                <div class="seatContent">
                  <p class="name">CineStar - 3/2</p>
                  <p>Hôm nay - 23:30 - Rạp 7</p>
                </div>
              </div>
            </div>
            <div class="seatTicket">
              <table class="table table_ticket">
                <thead class="thead-light">
                  <tr>
                    <th width="25%">Chọn vé</th>
                    <th width="25%">Số lượng</th>
                    <th width="25%">Giá (VNĐ)</th>
                    <th width="25%">Tổng (VNĐ)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Vé</th>
                    <td>
                      <div class="input-group input-number-group">
                        <div class="input-group-button">
                          <span class="input-number-decrement">-</span>
                        </div>
                        <input class="input-number" type="number" value="1" min="0" max="1000">
                        <div class="input-group-button">
                          <span class="input-number-increment">+</span>
                        </div>
                      </div>
                    </td>
                    <td>84.000</td>
                    <td>84.000</td>
                  </tr>

                </tbody>
              </table>
              <table class="table table_combo ">
                <thead class="thead-light">
                  <tr>
                    <th width="25%">Chọn Combo</th>
                    <th width="25%">Số lượng</th>
                    <th width="25%">Giá (VNĐ)</th>
                    <th width="25%">Tổng (VNĐ)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <p class="nameCombo">Combo 1</p>
                      <p>(1 bắp + 2 nước)</p>
                    </th>
                    <td>
                      <div class="input-group input-number-group">
                        <div class="input-group-button">
                          <span class="input-number-decrement">-</span>
                        </div>
                        <input class="input-number" type="number" value="1" min="0" max="1000">
                        <div class="input-group-button">
                          <span class="input-number-increment">+</span>
                        </div>
                      </div>
                    </td>
                    <td>84.000</td>
                    <td>84.000</td>
                  </tr>
                  <tr>
                    <th>
                      <p class="nameCombo">Combo 2</p>
                      <p>(2 bắp + 4 nước)</p>
                    </th>
                    <td>
                      <div class="input-group input-number-group">
                        <div class="input-group-button">
                          <span class="input-number-decrement">-</span>
                        </div>
                        <input class="input-number" type="number" value="1" min="0" max="1000">
                        <div class="input-group-button">
                          <span class="input-number-increment">+</span>
                        </div>
                      </div>
                    </td>
                    <td>84.000</td>
                    <td>84.000</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <button mat-button matStepperNext mat-fab >Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>CHỌN GHẾ</ng-template>
            <div class="seatTitle">
                <div class="seatLeft">
                    <div class="seatLogo">
                        <img src="assets/img/icon/cinestar.png" class="img-fluid" alt="">
                    </div>
                    <div class="seatContent">
                        <p class="name">CineStar - 3/2</p>
                        <p>Hôm nay - 23:30 - Rạp 7</p>
                    </div>
                </div>
                <div class="seatRight">
                    <p>Thời gian giữ ghế</p>
                    <p class="date" id="time">6:00</p>
                </div>
            </div>
            <div class="seatScreen">
            </div>
            <div class="seatItem text-center">
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
                <button class="btn seat"><i class="fa fa-couch"></i> </button>
            </div>
            <div class="seatType text-center">
                <div class="seatNote">
                    <div class="seatColor"><i class="fa fa-couch"></i></div>
                    <div class="seatName">Ghế trống</div>
                </div>
                <div class="seatNote">
                    <div class="seatColor"><i class="fa fa-couch"></i></div>
                    <div class="seatName">Ghế trống</div>
                </div>
                <div class="seatNote">
                    <div class="seatColor"><i class="fa fa-couch"></i></div>
                    <div class="seatName">Ghế trống</div>
                </div>
            </div>
            <div>      
              <button mat-button matStepperPrevious mat-fab>Back</button>
            </div>
          </form>
        </mat-step>      
      </mat-horizontal-stepper>
    </div>
    <div class="col-md-4">
      <div class="ticketRight">
        <div class="ticketTop">
          <div class="ticketImage">
            <img
              src="https://s3img.vcdn.vn/mobile/123phim/2019/07/dieu-ba-me-khong-ke-romang-c16-15627333506819_220x310.jpg"
              class="img-fluid" alt="ticket">
          </div>
          <div class="ticketTitle">
            <p class="nameMovie">Điều Ba Mẹ Không Kể - Romang</p>
            <p>BHD Star - Vincom 3/2</p>
            <p>Ngày mai 08/08/2019 - 20:25 - RẠP 1</p>
          </div>
        </div>
        <div class="ticketCenter">
          <p class="ticketChair">Ghế: </p>         
        </div>
        <div class="ticketCombo">
          <p>Combo: <span>combo 1(2) </span><span>combo 2(1)</span></p>
        </div>
        <div class="ticketBot">
            <p class="total">50.000đ</p>   
            <!-- <button class="btn btn-book" (click)="datVe()">ĐẶT VÉ</button>       -->
        </div>
      </div>
    </div>
  </div>
</section>