<section class="booking">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="seatTitle">
                    <div class="seatLeft">
                        <div class="seatLogo">
                            <img src="assets/img/icon/cinestar.png" class="img-fluid" alt="">
                        </div>
                        <div class="seatContent">
                            <p class="name">{{lichChieu.tenCumRap}}</p>
                            <p>{{lichChieu.tenRap}}</p>
                        </div>
                    </div>
                    <div class="seatRight">
                        <p>Thời gian giữ ghế</p>
                        <p class="date" id="time">
                            <countdown [config]="{leftTime: 300}" (finished)="onFinished()">$!m!:$!s!</countdown>
                        </p>
                    </div>
                </div>
                <div class="seatScreen">
                </div>
                <app-danh-sach-ghe (gheChonEvent)="gheChon($event)"></app-danh-sach-ghe>
                <div class="seatType text-center">
                    <div class="seatNote">
                        <div class="seatColor available"><i class="fa fa-couch"></i></div>
                        <div class="seatName ">Ghế trống</div>
                    </div>
                    <div class="seatNote">
                        <div class="seatColor selected"><i class="fa fa-couch"></i></div>
                        <div class="seatName ">Ghế đang chọn</div>
                    </div>
                    <div class="seatNote">
                        <div class="seatColor sold"><i class="fa fa-couch"></i></div>
                        <div class="seatName ">Ghế đã đặt</div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="listPhim">
                <div class="col-md-4">
                    <div class="ticketRight">
                        <div class="ticketTop">
                            <div class="ticketImage">
                                <img [src]="listPhim.hinhAnh" class="img-fluid" alt="ticket">
                            </div>
                            <div class="ticketTitle">
                                <p class="nameMovie">{{listPhim.tenPhim}}</p>
                                <p>{{lichChieu.tenCumRap}}</p>
                                <p>{{lichChieu.tenRap}}</p>
                            </div>
                        </div>
                        <div class="ticketCenter">
                            <p class="ticketChair">Ghế: <span *ngFor="let item of gheDangChon; let index=index"
                                    class="ticketSeat">{{item.SoGhe}}</span></p>
                            <p class="ticketPrice">{{gia | number:'1.0'}}đ</p>
                        </div>
                        <div class="ticketCombo">
                            <div class="ticketSelect">
                                <mat-form-field>
                                    <mat-label>COMBO</mat-label>
                                    <mat-select (selectionChange)="selectCombo($event.value)">
                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{food.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="ticketPrice">{{combo |number:'1.0'}}đ</div>
                        </div>
                        <div class="ticketBot">
                            <p class="total">{{total | number:'1.0'}}đ</p>
                            <button class="btn btn-book" (click)="datVe()">ĐẶT VÉ</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</section>