<section class="booking">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="seatTitle">
                    <div class="seatLeft">
                        <div class="seatLogo">
                            <img src="assets/img/icon/cinestar.png" class="img-fluid" alt="">
                        </div>
                        <div class="seatContent">
                            <p class="name">CineStar - 3/2</p>
                            <p>Hôm nay - 23:30 - Rạp 7</p>
                        </div>
                    </div>
                    <div class="seatRight">
                        <p>Thời gian giữ ghế</p>
                        <p class="date" id="time">05:00</p>
                    </div>
                </div>
                <div class="seatScreen">
                </div>
                <app-danh-sach-ghe></app-danh-sach-ghe>
                <div class="seatType text-center">
                    <div class="seatNote">
                        <div class="seatColor available"><i class="fa fa-couch"></i></div>
                        <div class="seatName ">Ghế trống</div>
                    </div>
                    <div class="seatNote">
                        <div class="seatColor selected"><i class="fa fa-couch"></i></div>
                        <div class="seatName ">Ghế đang chọn</div>
                    </div>
                    <div class="seatNote">
                        <div class="seatColor sold"><i class="fa fa-couch"></i></div>
                        <div class="seatName ">Ghế đã đặt</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ticketRight">
                    <div class="ticketTop">
                        <div class="ticketImage">
                            <img src="https://s3img.vcdn.vn/mobile/123phim/2019/07/dieu-ba-me-khong-ke-romang-c16-15627333506819_220x310.jpg"
                                class="img-fluid" alt="ticket">
                        </div>
                        <div class="ticketTitle">
                            <p class="nameMovie">Điều Ba Mẹ Không Kể - Romang</p>
                            <p>BHD Star - Vincom 3/2</p>
                            <p>Ngày mai 08/08/2019 - 20:25 - RẠP 1</p>
                        </div>
                    </div>
                    <div class="ticketCenter">
                        <p class="ticketChair">Ghế: <span *ngFor="let item of danhSachGheDangDat; let index=index"
                                class="ticketSeat">{{item.SoGhe}}</span></p>
                        <p class="ticketPrice">140.000đ</p>
                    </div>
                    <div class="ticketCombo">
                        <div class="ticketSelect">
                            <select>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                        <div class="ticketPrice">140.000đ</div>
                    </div>
                    <div class="ticketBot">
                        <p class="total">200.000đ</p>
                        <button class="btn btn-book">ĐẶT VÉ</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>