  <!-- banner start -->
  <section class="banner d-none d-lg-block">
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <a href="#">
                    <img class="d-block w-100" src="https://s3img.vcdn.vn/123phim/2019/07/nhen-15622966541398.jpg"
                        alt="First slide">
                    <div class="carousel__background"></div>
                    <a href="https://www.youtube.com/watch?v=DYYtuKyMtY8" data-lity>
                        <div class="carousel__video text-center">
                            <img src="assets/img/icon/play-video.png" alt="play-video">
                        </div>
                    </a>
                </a>
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <a href="#">
                    <img class="d-block w-100" src="https://s3img.vcdn.vn/123phim/2019/07/beo-15622967404800.jpg"
                        alt="Second slide">
                    <div class="carousel__background"></div>
                    <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                        <div class="carousel__video text-center">
                            <img src="assets/img/icon/play-video.png" alt="play-video">
                        </div>
                    </a>
                </a>
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
                <a href="#">
                    <img class="d-block w-100" src="https://s3img.vcdn.vn/123phim/2019/06/para-15611033899645.jpg"
                        alt="Third slide">
                    <div class="carousel__background"></div>
                    <a href="https://www.youtube.com/watch?v=o3ESQWArU2w" data-lity>
                        <div class="carousel__video text-center">
                            <img src="assets/img/icon/play-video.png" alt="play-video">
                        </div>
                    </a>
                </a>
            </div>
            <!--/Third slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    <!-- select film -->
    <div class="banner__tools d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="dropdown">
                        <div class="dropdownList dropdown-toggle" id="dropdownTool1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Phim
                            <span class="caret pl-2"><img src="assets/img/icon/dropdown-icon.png" alt=""></span>
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="dropdownTool1">
                            <li><a class="dropdown-item" href="#"
                                    data-value="Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From Home (C13)">Spider-Man:
                                    Người Nhện Xa Nhà - Spider-Man: Far From Home (C13)</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Ký Sinh Trùng - Parasite (C18)">Ký
                                    Sinh Trùng - Parasite (C18) </a></li>
                            <li><a class="dropdown-item" href="#"
                                    data-value="Tay Đua Huyền Thoại - Trading Paint (C16)">Tay Đua Huyền Thoại -
                                    Trading Paint (C16)</a></li>
                            <li><a class="dropdown-item" href="#"
                                    data-value="Annabelle: Ác Quỷ Trở Về - Annabelle Comes Home (C18)">Annabelle: Ác
                                    Quỷ Trở Về - Annabelle Comes Home (C18)</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <div class="dropdownList theater dropdown-toggle" id="dropdownTool2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Rạp
                            <span class="caret pl-2"><img src="assets/img/icon/dropdown-icon.png" alt=""></span>
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="dropdownTool2">
                            <li><a class="dropdown-item">Vui lòng chọn phim</a></li>
                            <li><a class="dropdown-item" href="#" data-value="BHD Star Bitexco">BHD Star Bitexco</a>
                            </li>
                            <li><a class="dropdown-item" href="#" data-value="BHD Star Vincom 3/2">BHD Star Vincom
                                    3/2 </a></li>
                            <li><a class="dropdown-item" href="#" data-value="CineStar Hai Bà Trưng">CineStar Hai Bà
                                    Trưng</a></li>
                            <li><a class="dropdown-item" href="#" data-value="Galaxy - Huỳnh Tấn Phát">Galaxy -
                                    Huỳnh Tấn Phát</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <div class="dropdownList dropdown-toggle" id="dropdownTool3" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Ngày xem
                            <span class="caret pl-2"><img src="assets/img/icon/dropdown-icon.png" alt=""></span>
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="dropdownTool3">
                            <li><a class="dropdown-item">Vui lòng chọn phim và rạp</a></li>
                            <li><a class="dropdown-item" href="#" data-value="action">
                                    <span class="date-book">Hôm nay</span>
                                    <span class="time-book">2019-07-09</span>
                                </a></li>
                            <li><a class="dropdown-item" href="#" data-value="another action">
                                    <span class="date-book">Ngày mai</span>
                                    <span class="time-book">2019-07-10</span>
                                </a></li>
                            <li><a class="dropdown-item" href="#" data-value="something else here">
                                    <span class="date-book">Thứ tư</span>
                                    <span class="time-book">2019-07-11</span>
                                </a></li>
                            <li><a class="dropdown-item" href="#" data-value="separated link">
                                    <span class="date-book">Thứ năm</span>
                                    <span class="time-book">2019-07-12</span>
                                </a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <div class="dropdownList dropdown-toggle" id="dropdownTool4" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Suất chiếu
                            <span class="caret pl-2"><img src="assets/img/icon/dropdown-icon.png" alt=""></span>
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="dropdownTool4">
                            <li><a class="dropdown-item" href="#" data-value="18:00">18:00</a></li>
                            <li><a class="dropdown-item" href="#" data-value="19:00">19:00 </a></li>
                            <li><a class="dropdown-item" href="#" data-value="20:00">20:00</a></li>
                            <li><a class="dropdown-item" href="#" data-value="21:00">21:00</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-2">
                    <button class="btn btn-book">Mua vé ngay</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->