<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/06/100-ca-chua-tuoi-ky-sinh-trung-xung-dang-la-bo-phim-hay-nhat-cua-bong-joon-ho-15610208017477.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">100% cà chua tươi, Ký Sinh Trùng xứng đáng là bộ
                phim hay nhất của Bong Joon Ho</a>
            <p class="news__description">
                Thắng giải Cành Cọ Vàng, tác phẩm nhận được tràng pháo tay dài tận 8 phút tại liên
                hoan phim quốc tế.
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/06/7830bf029e5f758f27b94df028211e6c.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">Người tuyết Yeti chưa bao giờ dễ thương như thế
                trong Everest: Người Tuyết Bé Nhỏ</a>
            <p class="news__description">
                Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công
                tiếp theo?
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/05/godzilla-va-nhung-dieu-ban-chua-biet-p2-15590181365234.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">Godzilla và những điều bạn chưa biết (P2)</a>
            <p class="news__description">
                Trước khi đại chiến diễn ra, cùng tìm hiểu mọi thông tin về Godzilla nào.
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/05/a7efbb6a8e9a8260da18466de31aa362.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">S4 cái tên nào sẽ mang đến bất ngờ cho khán giả
                'nhí' vào nửa cuối năm 2019?</a>
            <p class="news__description">
                Này thì chó rồi mèo, và rồi gì nữa đây...
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>