 <!-- Footer -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li class="footer__title">GIỚI THIỆU</li>
                    <ul>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Về chúng tôi
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Thoả thuận sử dụng
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Quy chế hoạt động
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Chính sách bảo mật
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li class="footer__title">Góc điện ảnh</li>
                    <ul>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Thể loại phim
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Bình luận phim
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Blog điện ảnh
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Phim hay tháng
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li class="footer__title">Hỗ trợ</li>
                    <ul>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Góp ý
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Sale & Services
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Rạp / giá vé
                            </a>
                        </li>
                        <li class="footer__li">
                            <a href="" class="footer__content">
                                <i class="fa fa-asterisk" aria-hidden="true"></i> Tuyển dụng
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li class="footer__title">Social</li>
                    <ul>
                        <li>
                            <a href="">
                                <img src="assets/img/icon/facebook-logo.png" class="footer__icon" alt="">
                            </a>
                            <a href="">
                                <img src="assets/img/icon/zalo-logo.png" class="footer__icon" alt="">
                            </a>
                        </li>
                    </ul>
                </ul>

            </div>
        </div>
    </div>
</footer>
<!-- footer end -->