<!-- List cinema start -->
<section class="listCinema d-none d-lg-block">
        <div class="container listCinemaBg">
            <div class="row">
                <div class="col-1">
                    <div class="nav flex-column listCinema__nav"  role="tablist">
                        <app-rap></app-rap>
                    </div>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-md-5 pr-0">
                            <div class="tab-content scroll" id="listCinema__content">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel">
                                   
                                    <!-- home -->
                                    <ul class="nav flex-column" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home">
                                                <div class="listCinema__item">
                                                    <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                                                        alt="">
                                                    <div class="wrap-info">
                                                        <span class="nameCinema">
                                                            BHD Star Cineplex - Bitexco
                                                        </span>
                                                        <span class="addressCinema">
                                                            L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">
                                                <div class="listCinema__item">
                                                    <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                                                        alt="">
                                                    <div class="wrap-info">
                                                        <span class="nameCinema">
                                                            BHD Star Cineplex - Bitexco
                                                        </span>
                                                        <span class="addressCinema">
                                                            L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages">
                                                <div class="listCinema__item">
                                                    <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                                                        alt="">
                                                    <div class="wrap-info">
                                                        <span class="nameCinema">
                                                            BHD Star Cineplex - Bitexco
                                                        </span>
                                                        <span class="addressCinema">
                                                            L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings">
                                                <div class="listCinema__item">
                                                    <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                                                        alt="">
                                                    <div class="wrap-info">
                                                        <span class="nameCinema">
                                                            BHD Star Cineplex - Bitexco
                                                        </span>
                                                        <span class="addressCinema">
                                                            L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- profile -->
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel">
                                    <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                href="#home2">Home2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                                                href="#profile2">Profile2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="messages-tab" data-toggle="tab"
                                                href="#messages2">Messages2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="settings-tab" data-toggle="tab"
                                                href="#settings2">Settings2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 pl-0">
                            <!-- Tab panes -->
                            <div class="tab-content scroll" id="listCinema__movie">
                                <div class="tab-pane show active" id="home" role="tabpanel">
                                    <div class="wrapMovie">
                                        <div class="movieInfo">
                                            <img src="https://s3img.vcdn.vn/mobile/123phim/2019/05/cau-chuyen-do-choi-4-toy-story-4-15591052666530_60x60.jpg"
                                                alt="">
                                            <div class="wrapInfo">
                                                <span class="nameMovie">Câu Chuyện Đồ Chơi 4 - Toy Story 4</span>
                                                <span class="timeMovie">100 phút - 123Phim 9.3 - IMDb 8.3</span>
                                            </div>
                                        </div>
                                        <div class="listTime">
                                            <img src="./img/icon/type/2_0.png" alt="">
                                            <div class="sessons">
                                                <a href="" class="time">10:50</a>
                                                <a href="" class="time">11:50</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapMovie">
                                        <div class="movieInfo">
                                            <img src="https://s3img.vcdn.vn/mobile/123phim/2019/05/cau-chuyen-do-choi-4-toy-story-4-15591052666530_60x60.jpg"
                                                alt="">
                                            <div class="wrapInfo">
                                                <span class="nameMovie">Câu Chuyện Đồ Chơi 4 - Toy Story 4</span>
                                                <span class="timeMovie">100 phút - 123Phim 9.3 - IMDb 8.3</span>
                                            </div>
                                        </div>
                                        <div class="listTime">
                                            <img src="./img/icon/type/2_0.png" alt="">
                                            <div class="sessons">
                                                <a href="" class="time">10:50</a>
                                                <a href="" class="time">11:50</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile" role="tabpanel">Profile
                                </div>
                                <div class="tab-pane" id="messages" role="tabpanel">Messages
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">Settings
                                </div>
                                <div class="tab-pane fade" id="home2" role="tabpanel">Home2</div>
                                <div class="tab-pane fade" id="profile2" role="tabpanel">Profile2
                                </div>
                                <div class="tab-pane fade" id="messages2" role="tabpanel">Messages2
                                </div>
                                <div class="tab-pane fade" id="settings2" role="tabpanel">Settings2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
