<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ class: true }"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list> -->
      <!-- <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a> -->
    <!-- </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->
<mat-sidenav-container class="sidenav-container">
    <mat-horizontal-stepper linear>
        <mat-step label="Step A" completed="false">
          <p>Step A</p>
        </mat-step>
        <mat-step label="Step B" completed="false">
          <p>Step B</p>
        </mat-step>
        <mat-step label="Step C" completed="false">
          <p>Step C</p>
        </mat-step>
      </mat-horizontal-stepper>
</mat-sidenav-container>
<ng-container *ngIf="movieInfo">
  {{movieInfo.tenPhim}}
</ng-container>

