<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/06/annabelle-ac-quy-tro-ve-chi-beo-da-tro-lai-va-loi-hai-hon-gap-tram-lan-15616345663166.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">Annabelle: Ác Quỷ Trở Về - 'Chị Beo' đã trở lại
                và lợi hại hơn gấp trăm lần</a>
            <p class="news__description">
                Sau khi gieo rắc nỗi kinh hoàng vòng quanh thế giới thì Annabelle cuối cùng cũng đã
                “về nhà” trong phần phim này. Nhưng lần này, chị không đi một mình mà có cả một binh
                đoàn ma quỷ theo sau...
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/06/ky-sinh-trung-dinh-cao-cua-dien-anh-han-quoc-15612023146523.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">Ký Sinh Trùng - Đỉnh cao của điện ảnh Hàn Quốc
            </a>
            <p class="news__description">
                Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là
                đỉnh cao của điện ảnh Hàn Quốc trong nhiều năm trở lại đây với giải Cành Cọ Vàng
                danh giá tại Cannes 2019.
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/06/toy-story-4-ca-bau-troi-ki-uc-tuoi-tho-bong-choc-thu-be-lai-bang-mot-bo-phim-15612011919585.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">Toy Story 4 - Cả bầu trời kí ức tuổi thơ bỗng
                chốc thu bé lại bằng một bộ phim</a>
            <p class="news__description">
                Gắn bó với tuổi thơ của hàng triệu thế hệ khán giả trên thế giới, Toy Story đã trở
                lại với một chuyến phiêu lưu mới và những bài học ý nghĩa cũ không phai nhòa theo
                năm tháng.
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news__content">
    <div class="row">
        <div class="col-md-5">
            <div class="contentImg">
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-far-from-home-man-tai-xuat-hai-huoc-va-day-cu-lua-cua-nhen-nhi-15627535943593.jpg"
                        alt="" class="img-fluid ">
                    <div class="background"></div>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <a href="#" class="news__content-title">Spider-Man: Far From Home - Màn tái xuất hài
                hước và đầy 'cú
                lừa' của Nhện 'nhí'</a>
            <p class="news__description">
                Sau khi “bay màu” rồi được hồi sinh trong Avengers: Endgame, Nhện “nhí” của Tom
                Holland đã có màn tài xuất ấn tượng với một cốt truyện đầy những “cú lừa” của
                Spider-Man: Far From Home.
            </p>
            <div class="news__icon">
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/like.png" alt="like">
                    <p class="amount">0</p>
                </div>
                <div class="wrapIcon like">
                    <img class="iconImg" src="assets/img/icon/comment.png" alt="comment">
                    <p class="amount">0</p>
                </div>
            </div>
        </div>
    </div>
</div>