    <!-- App  -->
    <section class="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-title">Ứng dụng tiện lợi dành cho người yêu điện ảnh</p>
                    <br />
                    <p class="text-content">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà
                        hấp dẫn.</p>
                    <p class="text-download">123Phim có hai phiên bản IOS & ANDROID
                    </p>
                    <button class="btn btn-download">Tải về ngay</button>
                </div>
            </div>
        </div>
    </section>
    <!-- App end -->
