<div class="tab-pane fade show active" id="{{rap.maHeThongRap}}" role="tabpanel">
                                   
        <!-- home -->
        <ul class="nav flex-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home">
                    <div class="listCinema__item">
                        <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                            alt="">
                        <div class="wrap-info">
                            <span class="nameCinema">
                                BHD Star Cineplex - Bitexco
                            </span>
                            <span class="addressCinema">
                                L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">
                    <div class="listCinema__item">
                        <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                            alt="">
                        <div class="wrap-info">
                            <span class="nameCinema">
                                BHD Star Cineplex - Bitexco
                            </span>
                            <span class="addressCinema">
                                L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages">
                    <div class="listCinema__item">
                        <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                            alt="">
                        <div class="wrap-info">
                            <span class="nameCinema">
                                BHD Star Cineplex - Bitexco
                            </span>
                            <span class="addressCinema">
                                L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings">
                    <div class="listCinema__item">
                        <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                            alt="">
                        <div class="wrap-info">
                            <span class="nameCinema">
                                BHD Star Cineplex - Bitexco
                            </span>
                            <span class="addressCinema">
                                L3-Bitexco Icon 68, 2 Hải Triều, Q.1
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
 </div>