<!-- Films start -->
<section class="films">
    <div class="container">
        <ul class="nav films__nav">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#now">Đang chiếu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#coming">Sắp chiếu</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="now">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                    <div ngxSlickItem class="sliders slick-film" *ngFor="let item of danhSachPhim">
                        <app-item-phim [movie]="item"></app-item-phim>
                    </div>
                </ngx-slick-carousel>

            </div>
            <div class="tab-pane container fade" id="coming">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="sliders slick-soon"  *ngFor="let item of danhSachPhim">
                        <app-item-phim [movie]="item"></app-item-phim>
                    </div>
                </ngx-slick-carousel>
            </div>

        </div>
    </div>
    <!-- Nav tabs -->


</section>
<!-- Films end -->