<!-- Films start -->
<section class="films">
    <div class="container">
        <ul class="nav films__nav">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':showingStatus}" (click)="changeShowing()">Đang chiếu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [ngClass]="{'active':!showingStatus}"  (click)="changeComing()">Sắp chiếu</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <ng-container *ngIf="danhSachPhim">
        <div class="tab-content">
            <div class="tab-pane container active" id="now" *ngIf="showingStatus;else comingMovie">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                    <div ngxSlickItem class="sliders slick-film" *ngFor="let item of danhSachPhim">
                        <app-item-phim [movie]="item" [showingStatus]="showingStatus" ></app-item-phim>
                    </div>
                </ngx-slick-carousel>

            </div>
            <ng-template #comingMovie>
            <div class="tab-pane container active" id="coming">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="sliders slick-soon"  *ngFor="let item of danhSachPhim">
                        <app-item-phim [movie]="item"></app-item-phim>
                    </div>
                </ngx-slick-carousel>
            </div>
        </ng-template>
        </div>
    </ng-container>
    </div>
    <!-- Nav tabs -->


</section>
<!-- Films end -->