   <!-- Films start -->
   <section class="films">
    <div class="container">
        <ul class="nav films__nav">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#now">Đang chiếu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#coming">Sắp chiếu</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="now">
                <div class="sliders slick-film">
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="coming">
                <div class="sliders slick-soon">
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <a class="card-hover" href="#">
                            <div class="card-image">
                                <img class="card-img-top"
                                    src="https://s3img.vcdn.vn/123phim/2019/07/spider-man-nguoi-nhen-xa-nha-spider-man-far-from-home-c13-15622963710691.jpg"
                                    alt="Card image">
                                <div class="card-age">
                                    C13
                                </div>
                                <div class="card-idmb">
                                    <div class="card-point">8.9</div>
                                    <div class="card-star">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.png" class="star-all" alt="star1">
                                        <img src="assets/img/icon/star1.2.png" class="star-half" alt="star1.2">
                                    </div>
                                </div>
                                <div class="card-background"></div>

                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <h4 class="card-title">Spider-Man: Người Nhện Xa Nhà - Spider-Man: Far From
                                        Home
                                        (C13)
                                    </h4>
                                    <p class="card-text">129 phút - 8.1 IMDb</p>
                                </div>
                            </div>
                        </a>
                        <div class="card-button">
                            <a href="" class="btn btn-card">MUA VÉ</a>
                        </div>
                        <div class="card-video">
                            <a href="https://www.youtube.com/watch?v=3BX_x7OnSmg" data-lity>
                                <div class="card-play text-center">
                                    <img src="assets/img/icon/play-video.png" alt="play-video">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Nav tabs -->


</section>
<!-- Films end -->