.movie {
  padding-top: 60px;
  min-height: 1050px;
  padding-bottom: 60px;
  background-color: $color-black-0;
  .movie__wrap {
    background: url("./assets/img/background-black-wall-large-texture_29332-1042.jpg")
      no-repeat;
    background-size: cover;
    .movie__row {
      background-color: rgba(0, 0, 0, 0.8);
      .movie__image {
        position: relative;
        text-align: center;

        img {
          padding: 72px 18px;
        }
        .movie__video {
          @include absolute(50%, 50%, -50%, -50%);
          z-index: 5;
        }
      }
      .card-right {
        position: relative;
        .card-idmb {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, 64%);
          .card-star {
            display: inline-flex;

            img {
              display: inline-block;

              &.star-all {
                max-width: 25px;
              }

              &.star-half {
                max-width: 25px;
              }
            }
          }
        }
      }
      .movie__center {
        .movie__text {
          color: $color-white-0;
          text-align: center;
          padding-top: 160px;
          .movie__title {
            font-size: $fs-6;
          }
        }
      }
    }
  }
  .movie__tab {
    background-color: $color-white-0;
    border-radius: 4px;
    .movie__nav {
      justify-content: center;
      margin-bottom: 50px;
      .nav-item {
        .nav-link {
          font-size: $fs-5;
          line-height: 24px;
          height: 24px;
          color: $color-black-0;
          transition: all 0.2s;

          &:hover {
            font-size: $fs-6;
            color: $color-red-0;
          }
          &.active {
            font-size: $fs-6;
            color: $color-red-0;
          }
        }
      }
    }
    .movie__content {
      #showing {
        .movie__date {
          overflow: auto;
          padding: 15px 0px;
          text-align: center;
          white-space: nowrap;
          .listDate {
            cursor: pointer;
            padding: 0 36px;
            display: inline-block;
            text-align: center;
            color: #000;
            a {
              p {
                margin: 0;
                @include text($color-black-0, $fs-3, 700);
              }
            }
            &:hover{
              p{
                @include text($color-red-0, $fs-3, 700);
              }
            }
          }
        }
        .panel-title > a:after {
          float: right !important;
          font-family: FontAwesome;
          content: "\f068";
          padding-right: 5px;
          margin-left: auto;
          align-self: center;
          color: $color-black-0;
        }
        .panel-title > a.collapsed:after {
          float: right !important;
          content: "\f067";
          margin-left: auto;
          align-self: center;
          color: $color-black-0;
        }
        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
          text-decoration: none;
        }
        .tab-image {
          padding: 20px;
          display: flex;
          color: $color-black-0;
          border-bottom: 1px solid black;
          img {
            width: 50px;
            height: 50px;
          }
          p {
            margin: 10px 0 0 10px;
            font-size: $fs-3;
            color: $color-black-0;
          }
          &:hover {
            color: $color-black-0;
          }
        }
        .tab-body {
          padding-left: 20px;
          .wrapMovie {
            position: relative;
            padding: 20px 0;
            .movieInfo {
              display: flex;
              img {
                width: 50px;
                height: 50px;
              }
              .wrapInfo {
                padding-top: 5px;
                padding-left: 10px;
                display: block;
                .nameMovie {
                  @include text($color-black-0, $fs-2, 600);
                  display: block;
                }
                .timeMovie {
                  @include text($color-black-1, $fs-0, 400);
                  display: block;
                }
              }
            }
            .listTime {
              padding-top: 15px;
              display: flex;
              img {
                margin-right: 35px;
                margin-top: 7px;
                width: 30px;
                height: 26px;
              }
              .sessons {
                .time {
                  font-size: 22px;
                  font-weight: 500;
                  color: #417500;
                  margin: 0 5px 5px 0;
                  transition: all 0.2s;
                  &:hover {
                    color: $color-red-0;
                  }
                }
              }
            }
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: calc(100% - 40px);
              transform: translateX(-50%);
              border-bottom: 1px solid #fff;
              border-color: rgba(238, 238, 238, 0.88);
            }
          }
        }
      }
      #info {
        font-weight: 500;
        font-size: 14px;
        padding: 30px;
        .text {
          p {
            width: 25%;
          }
          span {
            width: 50%;
          }
        }
      }
      #comment {
        padding-bottom: 60px;
        .wrapComment {
          max-width: 580px;
          margin: 0 calc(50% - 290px);
          padding: 0;
          position: relative;
          cursor: pointer;
          .inputComment {
            padding: 10px 10px 10px 55px;
            width: 100%;
            height: 60px;
            border-radius: 4px;
            border: 1px solid #e8e8e9;
            background: #fff;
            color: transparent;
            text-shadow: 0 0 0 #2196f3;
            font-size: 14px;
            cursor: pointer;
          }
          .imgComment {
            position: absolute;
            top: 20%;
            left: 3%;
            img {
              height: 36px;
              width: 36px;
              border-radius: 50%;
            }
          }
          .starComment {
            position: absolute;
            top: 30%;
            right: 3%;
          }
        }
        .wrapReview {
          max-width: 580px;
          margin: 10px calc(50% - 290px);
          border: 1px solid #e6e6e6;
          .reviewInfo {
            display: flex;
            padding: 20px;
            .reviewAvatar {
              display: flex;
              img {
                align-self: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
              }
              .reviewTime {
                padding-left: 20px;
                p {
                  margin-bottom: 0;
                  font-size: 12px;
                  color: #9b9b9b;
                }
                .reviewName {
                  font-size: $fs-3;
                  font-weight: 500;
                  color: $color-black-0;
                }
              }
            }
            .reviewRating {
              margin-left: auto;
              p {
                margin: 0;
                text-align: center;
                color: #91d25a;
                font-size: 16px;
              }
              .reviewStar {
                display: inline-flex;
                .star {
                  width: 8px;
                  height: 8px;
                }
                .starHalf {
                  width: 10px;
                  height: 8px;
                }
              }
            }
          }
          .reviewContent {
            margin: 0;
            padding: 0 20px;
          }
        }
      }
    }
  }
  /****** Style Star Rating Widget *****/
  #rating {
    border: none;
    float: left;
    width: 75%;
  }
  #rating > input {
    display: none;
  } /*ẩn input radio - vì chúng ta đã có label là GUI*/
  #rating > label:before {
    margin: 5px;
    font-size: 42px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  } /*1 ngôi sao*/
  #rating > .half:before {
    content: "\f089";
    position: absolute;
  } /*0.5 ngôi sao*/
  #rating > label {
    color: #ddd;
    float: right;
  } /*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
  /*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
  #rating > input:checked ~ label,
  #rating:not(:checked) > label:hover,
  #rating:not(:checked) > label:hover ~ label {
    color: $color-red-0;
  }
  /* Hover vào các sao phía trước ngôi sao đã chọn*/
  #rating > input:checked + label:hover,
  #rating > input:checked ~ label:hover,
  #rating > label:hover ~ input:checked ~ label,
  #rating > input:checked ~ label:hover ~ label {
    color: $color-red-0;
  }
  .commentText {
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    width: 387px;
    border: 1px solid #e8e8e9;
    background: #fff;
    resize: none;
    font-size: 16px;
  }
}
