<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ĐĂNG NHẬP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form #loginForm="ngForm" (ngSubmit)="dangNhap(loginForm.value)">
                    <div class="login-container">
                        <mat-form-field>
                            <input type="text" minlength="7" maxlength="15" name="taiKhoan" #TaiKhoan="ngModel" ngModel
                                required matInput placeholder="Tên tài khoản">
                            <div *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)" class="text-danger">
                                <!-- Kiểm tra rỗng -->
                                <div *ngIf="TaiKhoan.errors.required">
                                    Vui lòng nhập tài khoản
                                </div>

                                <!-- Kiểm tra độ dài -->
                                <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">
                                    Vui lòng nhập ký tự từ 7-15
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="password" matInput placeholder="Mật Khẩu" name="matKhau" ngModel>
                        </mat-form-field>
                        <button type="button"  class="btn btn-primary btn-modal" [disabled]="!loginForm.valid">ĐĂNG NHẬP</button>
                    
                    </div>
               </form>
            </div>
            <!-- <div class="modal-footer">
                
            </div> -->

            <p>Chưa có tài khoản ? <span><a href="" data-toggle="modal" data-target="#modelId2"
                        data-dismiss="modal">Đăng ký</a></span></p>
        </div>
    </div>
</div>