    <!-- News -->
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <p class="news__title">BÌNH LUẬN PHIM</p>
                    </a>
                    <app-binh-luan></app-binh-luan>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <p class="news__title">BlOG ĐIỆN ẢNH</p>
                    </a>
                   <app-blog></app-blog>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#">
                        <p class="news__title">TIN KHUYẾN MÃI</p>
                    </a>
                    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
                        <div ngxSlickItem class="news__promotion sliders slick-news" >
                            <app-khuyen-mai></app-khuyen-mai>
                        </div>
                    </ngx-slick-carousel> -->
                    <div class="news__promotion sliders slick-news">
                        <div class="card">
                            <a href="#">
                                <div class="card-image">
                                    <img class="card-img-top"
                                        src="https://galaxycine.vn/media/2019/7/15/300x450_1563183137355.jpg"
                                        alt="Card image">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title ">Đặc Quyền Cho Sky, “Săn” Vé Xem Tour Với Giá Cực “Mềm”
                                        </h4>
                                        <p class="card-text ">Xem phim thỏa thích, săn vé Sky Tour tại Galaxy Cinema.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a class="card-hover" href="#">
                                <div class="card-image">
                                    <img class="card-img-top"
                                        src="https://galaxycine.vn/media/2019/6/27/300x450_1561601613602.jpg"
                                        alt="Card image">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Ngày Tri Ân Của Galaxy Cinema - Ngày Thứ Hai ĐẦU TIÊN Mỗi
                                            Tháng</h4>
                                        <p class="card-text">Từ lâu, chương trình Ngày Tri Ân Nhằm tạo điều kiện thuận
                                            lợi hơn cho các khách hàng thả ga xem phim đã trở nên quen thuộc với các
                                            khách hàng thân yêu của Galaxy Cinema.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a class="card-hover" href="#">
                                <div class="card-image">
                                    <img class="card-img-top"
                                        src="https://galaxycine.vn/media/2019/5/10/momo450x300_1557482115205.jpg"
                                        alt="Card image">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Xem Bom Tấn, Giá Phấn Chấn Chỉ 1000Đ/ vé Tại Galaxy
                                            Cinema</h4>
                                        <p class="card-text">Cơ hội hiếm có dành cho các Stars khi xem phim bom tấn chỉ
                                            với 1.000Đ/vé tại Galaxy Cinema!</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a class="card-hover" href="#">
                                <div class="card-image">
                                    <img class="card-img-top" src="https://galaxycine.vn/media/3/0/300x450_80.jpg"
                                        alt="Card image">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Đặt Vé Online - Không Lo Trễ Nải</h4>
                                        <p class="card-text">Giờ đây, chỉ với một thao tác nhỏ là các Stars có thể đến
                                            thẳng phòng chiếu xem phim ngay lập tức. </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <a class="card-hover" href="#">
                                <div class="card-image">
                                    <img class="card-img-top"
                                        src="https://galaxycine.vn/media/2019/7/15/300x450_1563172691581.jpg"
                                        alt="Card image">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title">Go Green! Sống Xanh Cùng Galaxy!</h4>
                                        <p class="card-text">Hãy chung tay giải cứu Trái Đất bằng bộ sản phẩm inox gồm
                                            01 muỗng, 01 đôi đũa, 01 cặp ống hút & 01 đồ vệ sinh ống hút từ Galaxy
                                            Cinema!</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News end -->