@import "Helpers/variable";
@import "Base/reset";

@import "Helpers/mixin";
@import "Helpers/extend";
@import "Helpers/animation";

// @import "Page/home/banner";
// @import "Page/home/films";
// @import "Page/home/listCinema";
// @import "Page/home/news";
// @import "Page/home/app";

// @import "Page/movie/movie";

@import "Layout/header";
// @import "Layout/footer";






