<div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="{{rap.maHeThongRap}}"
                aria-expanded="true" aria-controls="collapseOne" class="tab-image">
                <img [src]="rap.logo"
                    class="img-fluid" alt="logo">
                <p>{{rap.tenHeThongRap}}</p>
            </a>
        </h4>
        <div id="collapseOne" class="panel-collapse collapse in show"
            role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body tab-body">
                <div class="wrapMovie">
                    <div class="movieInfo">
                        <img src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-vincom-3-2-15379527367766.jpg"
                            alt="">
                        <div class="wrapInfo">
                            <span class="nameMovie">BHD Star Cineplex - 3/2
                            </span>
                            <span class="timeMovie">L5-Vincom 3/2, 3C Đường 3/2,
                                Q.10
                            </span>
                        </div>
                    </div>
                    <div class="listTime">
                        <img src="assets/img/icon/type/2_0.png" alt="">
                        <div class="sessons">
                            <a href="" class="time">10:50</a>
                            <a href="" class="time">11:50</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>